I understand the following commands:

help - Displays this menu
play - Requests a foosball match allowing you to set a time delay and wager
quickplay - Requests a foosball match instantly with no wager
score - Record a match score.
team stats - Displays a team's win/loss record
retire - Remove yourself from the active roster and disable notifications. Your stats are not lost.
unretire - Get back in the game!