I understand the following commands:

help - Displays this menu
play - Requests a foosball match
score - Record a match score.
player stats - Displays players' win/loss records
team stats - Displays a team win/loss records
retire - Remove yourself from the active roster and disable notifications. Your stats are not lost.
unretire - Get back in the game!
