I understand the following commands:

help - Displays this menu
play - Requests a game of foosball allowing you to set a time delay and wager
quickplay - Requests a game of foosball instantly with no wager
score - Record a match score. Only match creators can enter the score of a match.
retire - Remove yourself from the active roster and disable notifications. Your stats are not lost.
unretire - Get back in the game!